.pageHeader {
    background-color: goldenrod;
    height: 6em;  
  }
  
  .pageHeader h1 {
    position: relative;
    top: 25%;
  }
  
  .pageContent {
    margin-top: 0em;
  }
  
  .pageNavigation {
    background-color: rgb(109, 109, 109);
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 500px;
    flex: 0 0 270px;
  }
  
  .pageApplication {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
  }

  #gameCanvas {
    border: 3px solid black;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}
  
  #stateFinished {
      display: none;
      background-color: lightgoldenrodyellow;
      padding: 1em;
      margin-top: 1em;
    }

 #stateFailed {
    display: none;
    background-color: rgb(233, 154, 154);
    padding: 1em;
    margin-top: 1em;
    }
  